version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: devblog_db
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  web:
    build: .
    container_name: devblog_web
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/devblog

  mongo-express:
    image: mongo-express:latest
    container_name: devblog_ui
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo

volumes:
  mongo_data:
